{% extends 'base.html' %}

{% block title %}
<title>GAFLIX movie list</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div>
        {% for category in categories %}
        <a href="{% url 'category_detail' category.pk %}" class="btn btn-primary">{{category.title}}</a>
        {% endfor %}
        </div>
        
        <h1>Choose your movie</h1>

        {% for movie in movies %}
        {% if movie.thumbnail %}
        <img src="{{ movie.thumbnail.url }}" height="200">
        {% else %}
        <img src="https://place-hold.it/300x200" height="200">
        {% endif %}
        <h2><a href="{% url "movie_detail" movie.id %}">{{ movie.title }}</a></h2>
        <p>{{ movie.description|truncatechars:50 }}…</p>
        {% endfor %}
    </div>    
{% endblock %}