{% extends 'base.html' %}

{% block title %}
<title>Document ONE</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Clive Sinclair</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Sinclair.600pix.crop.jpg/220px-Sinclair.600pix.crop.jpg">
        <p>Sir Clive Marles Sinclair (30 July 1940 – 16 September 2021) was an English entrepreneur and inventor, best known for being a pioneer in the computing industry, and also as the founder of several companies that developed consumer electronics in the 1970s and early 1980s.</p>
        <p>After spending several years as assistant editor of Instrument Practice, Sinclair founded Sinclair Radionics Ltd in 1961. He produced the world's first slimline electronic pocket calculator (the Sinclair Executive) in 1972. Sinclair then moved into the production of home computers in 1980 with Sinclair Research Ltd, producing the Sinclair ZX80 (the UK's first mass-market home computer for less than £100), and in the early 1980s, the ZX81, ZX Spectrum and the Sinclair QL. Sinclair Research is widely recognised for its importance in the early days of the British and European home computer industry, as well as helping to give rise to the British video game industry.[1] </p>
    </div>    
{% endblock %}